<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      iFinanças
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Data</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item>

  <dash-card
  
    valor = {{conta.pagar.valor}}
    tipo = "pagar"
    num = {{conta.pagar.num}}
  >
  </dash-card>

  <dash-card

  valor = {{conta.receber.valor}}
  tipo = "receber"
  num = {{conta.receber.num}}
>
</dash-card>

 <dash-card

  valor = {{conta.saldo.valor}}
  tipo = "saldo"
  num = {{conta.saldo.num}}
>
</dash-card>


  <div id="btnMenu">
    <ion-button [routerLink]="['/contas/pagar']"  expand="block">Contas a Pagar</ion-button>
    <ion-button [routerLink]="['/contas/receber']"  expand="block">Contas a Receber</ion-button>
  </div>

</ion-content>
